<footer>
    <div class="mail-box">
        <img src="{{ url_for('static', filename='images/icons/01-mail.svg') }}"
             class="mailLogo1"
             alt="Mail icon"/>
        <p class="mail">addictology@iliauni.edu.ge</p>
    </div>
    <p class="address">
        ქაქუცა ჩოლოყაშვილის გამზირი 3-5, ილიაუნის ე კორპუსი, ოთახი ე-238
    </p>
    <div class="icons-box">
        <a href="https://www.facebook.com/WordPress/" target="_blank">
            <img src="{{ url_for('static', filename='images/icons/facebook.svg') }}"
                 class="fbLogo img-fixed"
                 alt="Facebook icon"/>
        </a>
        <a href="mailto:addictology@iliauni.edu.ge">
            <img src="{{ url_for('static', filename='images/icons/02-mail.svg') }}"
                 class="mailLogo2"
                 alt="Mail icon"/>
        </a>
    </div>
    <p class="sub-text">
        საიტი შექმნილია ილიაუნის კიბერლაბორატორია
        <a href="http://unilab.iliauni.edu.ge/" target="_blank">უნილაბის</a>
        გუნდის მიერ
    </p>
</footer>