{% from 'macros.html' import is_active %}

<header {% if request and request.endpoint != "main.index" %} class="border" {% endif %}>
    <div class="header-title-box">
        <h2>ადიქტოლოგიის ინსტიტუტი</h2>
        <p>
            ილიას სახელმწიფო უნივერსიტეტის ტომაშ ზაბრანსკის სახელობის
            ადიქტოლოგიის ინსტიტუტი
        </p>
    </div>
    <nav class="header-nav">
        <ul class="header-nav-box">
            <li><a href="{{ url_for('main.index') }}" class="{{ is_active('main.index') }}">მთავარი</a></li>
            <li><a href="{{ url_for('main.projects') }}" class="{{ is_active('main.projects') }}">პროექტები</a></li>
            <li><a href="{{ url_for('main.resources') }}" class="{{ is_active('main.resources') }}">რესურსები</a></li>
            <li><a href="{{ url_for('main.about') }}" class="{{ is_active('main.about') }}">ჩვენ შესახებ</a></li>
        </ul>
    </nav>

    <button class="btn-mobile-nav">
        <img src="{{ url_for('static', filename='images/icons/menu.svg') }}" alt="Menu Icon"
             class="icon-mobile-nav menu"/>
        <img src="{{ url_for('static', filename='images/icons/close.svg') }}" alt="Close Icon"
             class="icon-mobile-nav close"/>
    </button>
</header>