{%from "macros.html" import is_active%}

<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{url_for('main.index')}}"
      >ადიქტოლოგიის ინსტიტუტი</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link {{is_active(request.endpoint, 'main.index')}}"
            aria-current="page"
            href="{{url_for('main.index')}}"
            >მთავარი</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{is_active(request.endpoint, 'main.projects')}}"
            href="{{url_for('main.projects')}}"
            >პროექტები</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            რესურსები
          </a>
          <ul class="dropdown-menu">
            {%for name in name_dict%}
            <li>
              <a class="dropdown-item" href="{{url_for('publication.publication', folder=name)}}">{{name_dict[name]}}</a>
            </li>
            {%endfor%}
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {{is_active(request.endpoint, 'main.about')}}"
            href="{{url_for('main.about')}}"
            >ჩვენ შესახებ</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
