{% extends "layouts/base.html" %}

{% block body %}
    <main>
        <div class="main-container">
            <div class="main-box">
                <h2 class="main-box-subtitle">გამოცემები</h2>
                <div class="main-box-line"></div>
                <div class="main-box-texts">
                    {% for publication in publications %}
                        <div class="main-box-texts-el" style="display: flex">
                            <img src="{{ url_for('static', filename=publication.get_image()) }}"
                                 style="width: 20%"/>
                            <a href="{{ url_for('static', filename=publication.get_file()) }}" target="_blank">
                                {{ publication.name }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}