{% extends "layouts/base.html" %}

{% block body %}

    <main>
        <div class="main-container">
            <div class="main-box">
                <h2 class="main-box-subtitle">ავტორიზაცია</h2>
                <div class="main-box-line"></div>
                <div class="main-box-texts">
                    <div class="main-box-texts-el">

                        {% for field, error in form.errors.items() %}
                            <p> {{ error | join(',') }}</p>
                        {% endfor %}

                        <form method="post">
                            {{ form.hidden_tag() }}
                            <span>{{ form.login.label.text }}</span><br>
                            {{ form.login(style="width: 80%; height: 25px") }}
                            <br>
                            <span>{{ form.password.label.text }}</span><br>
                            {{ form.password(style="width: 80%; height: 25px") }}
                            <br>
                            {{ form.submit(style="height: 40px;width: 90px;margin-top: 10px;border: none;
                            background-color: #ff9900;font-weight: 700;cursor: pointer;") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}