{%extends "layouts/base.html"%}
{%block head%}
შესვლა
{%endblock%}


{%block content%}

    <div class="d-flex justify-content-center mt-5 mb-5">
    <div class="col-md-5 col-lg-4 mt-3">
        {%for field, error in form.errors.items()%}
            <div class="alert alert-danger" role="alert">
            <span class="badge rounded-pill text-bg-danger">შეცდომა</span>
            {{error}}
            </div>
        {%endfor%}
            <form method="POST">
            {{form.hidden_tag()}}
            <div class="mb-3">
                {{form.login(class="form-control", placeholder=form.login.label.text)}}
            </div>
            <div class="mb-3">
                {{form.password(class="form-control", placeholder=form.password.label.text)}}
            </div>
            <div class="mb-3">
                {{form.submit(class="btn btn-primary mt-2")}}
            </div> 
        </form>
    </div>
    </div>

{%endblock%}