{%extends "layouts/base.html"%}
{%block head%}
რეგისტრაცია
{%endblock%}

{%block content%}
<form method="POST">
    <div class="d-flex justify-content-center mt-5 mb-5">
    <div class="col-md-5 col-lg-4 mt-3">
            {{register_form.hidden_tag()}}
            <div class="mb-3">
                {{register_form.username(class="form-control", placeholder=register_form.username.label.text)}}
            </div>
            <div class="mb-3">
                {{register_form.password(class="form-control", placeholder=register_form.password.label.text)}}
            </div>
            <div class="mb-3">
                {{register_form.confirm_password(class="form-control", placeholder=register_form.confirm_password.label.text)}}
            </div>
            <div class="mb-3">
                {{register_form.submit(class="btn btn-primary mt-2")}}
            </div>   
        </form>
    </div>
    </div>

{%endblock%}