{% extends "layouts/base.html" %}

{% block body %}
    <main>
        <div class="main-container">
            <img src="{{ url_for('static', filename='images/01-main.png') }}" alt=""/>
            <div class="main-box">
                <h2 class="main-box-subtitle">ინსტიტუტის შესახებ</h2>
                <div class="main-box-line"></div>
                <div class="main-box-texts">
                    {% for text in texts["about_institute"] %}
                        <div class="main-box-texts-el">
                            <p>
                                <span colon=":">{{ text.name }}</span>
                                {{ text.text }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="main-container">
            <img src="{{ url_for('static', filename='images/02-main.png') }}" alt=""/>
            <div class="main-box">
                <h2 class="main-box-subtitle">მუშაობის მიმართულებები</h2>
                <div class="main-box-line"></div>
                <div class="main-box-texts">
                    {% for text in texts["work_directions"] %}
                        <div class="main-box-texts-el">
                            <p>
                                <span>{{ text.name }}</span>
                                {{ text.text }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="main-container">
            <img src="{{ url_for('static', filename='images/03-main.png') }}" alt=""/>
            <div class="main-box">
                <h2 class="main-box-subtitle">ინსტიტუტის შექმნის ისტორია</h2>
                <div class="main-box-line"></div>
                <div class="main-box-texts">
                    {% for text in texts["institute_history"] %}
                        <div class="main-box-texts-el">
                            <p>
                                {{ text.text }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}